:root{
    --colorturquesa: rgb(12, 201, 160);
    --colorazul: rgb(31, 103, 211);
    --colorblanco: rgb(255, 255, 255);
}

.logo{
    width: 100px;
    height: auto;
}

.lista-horizontal{
    list-style-type: none;
}

.lista-horizontal li {
    display: inline;
    margin-right: 15px;
}

header{
    background-color: var(--colorblanco);
}

body{
    background-color: var(--colorazul);
}

footer{
    background-color: var(--colorblanco);
}